{% extends 'cart/base_cart.html' %}
{% block title %}View Cart{% endblock %}
{% block content %}

<h1>Your Cart</h1>
{% for item in cart_items %}
    <div class="cart-item">
        <p>{{ item.ticket }} - Quantity: {{ item.quantity }} - Price: {{ item.ticket.ticket_type.price }}</p>
        <a class="btn-remove" href="{% url 'remove_from_cart' item.id %}">Remove</a>
    </div>
{% endfor %}
<p class="total">Total: {{ total_amount }}</p>
<a class="btn-primary" href="{% url 'checkout' %}">Proceed to Checkout</a>

{% endblock %}
