{% extends 'base.html' %}

{% block content %}
<h1>Booking Confirmation</h1>
<p>Thank you for your booking!</p>
<h2>Booking Details:</h2>
<p>Movie: {{ ticket.screening.movie.title }}</p>
<p>Cinema: {{ ticket.screening.cinema.name }}</p>
<p>Date and Time: {{ ticket.screening.date_time }}</p>
<p>Ticket Type: {{ ticket.ticket_type.name }}</p>
<p>Price per ticket: ${{ ticket.ticket_type.price }}</p>
<!-- <p>Quantity: {{ ticket.quantity }}</p> -->
<!-- <p>Total Price: ${{ ticket.total_price }}</p> -->
 <a href="{% url 'view_cart' %}">View Cart</a>
{% endblock %}